@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor httpContextAccessor;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">IssueTracker</h1>
    <p>Issue tracker let's you Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vehicula lectus placerat enim maximus, vitae mollis est varius. Vivamus neque sem, vestibulum ac varius condimentum, maximus in ipsum. Aliquam erat volutpat. Pellentesque at metus tristique, vestibulum quam at, dignissim magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer sit amet ligula in tortor congue aliquam nec id turpis. Vivamus fringilla libero eu tellus posuere, vulputate porta metus facilisis. Aliquam a sapien ornare, finibus nisi eget, posuere augue. Maecenas posuere ante orci, sit amet elementum dolor ullamcorper sit amet.

Pellentesque lacinia ornare nulla a bibendum. Phasellus auctor, nunc vitae viverra facilisis, risus mauris rutrum augue, et vehicula leo eros vitae purus. Nunc varius rutrum felis a ultricies. Maecenas et lacus sed libero lobortis efficitur. Maecenas tempor justo sed sapien vulputate semper. Nullam a dolor eu neque accumsan tempor sit amet a orci. Vestibulum ornare massa at blandit euismod. Sed et tristique eros. Curabitur ut dui risus. Nulla tincidunt quis nulla eu iaculis. Suspendisse potenti.

Nulla facilisi. Ut tempor gravida elit a hendrerit. Mauris commodo ultricies lobortis. Proin ut massa eu nisi varius maximus tempus eget velit. Vestibulum ac nibh libero. Quisque ac maximus quam. Phasellus dignissim mauris sit amet purus lacinia sagittis.

Integer non commodo mauris. Maecenas viverra lobortis orci, nec placerat eros dictum id. Suspendisse porttitor, odio non tempus blandit, est sapien tristique nibh, sit amet fermentum felis lorem et dolor. Curabitur at luctus mi, eget volutpat urna. Sed interdum ex semper orci efficitur ultricies. Integer maximus magna iaculis vestibulum sagittis. Donec et blandit nulla. Integer porttitor finibus metus ac convallis. Aliquam erat volutpat. Sed ut convallis massa. Aenean dignissim orci eget dignissim elementum. Mauris vel ultrices sapien. Morbi lacinia quam sed velit suscipit hendrerit. Aenean leo arcu, laoreet et condimentum id, sagittis vel tortor.

Mauris in nisl sit amet metus iaculis rutrum. Praesent felis libero, porttitor eu mi at, porttitor tempus leo. Etiam quis tristique libero. Sed accumsan ullamcorper neque, non ornare justo lobortis consectetur. Etiam non urna blandit, efficitur diam in, sollicitudin sem. Donec tortor turpis, finibus nec congue vel, varius eu erat. Curabitur ex nisi, fringilla et aliquam non, ornare nec neque. Nullam viverra, ligula vitae ultricies lobortis, erat augue hendrerit arcu, vel faucibus elit ligula ut ante. Sed pretium fringilla maximus. Sed rutrum porttitor leo vitae vestibulum. Suspendisse ac iaculis augue, vitae vehicula mi. Maecenas eleifend nisi vitae turpis elementum condimentum. Donec convallis hendrerit interdum. Mauris condimentum ac libero sit amet iaculis.</p>
</div>
