<!-- Modal -->
<div class="modal fade" id="projectLead" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="projectLead">Set project lead</h5>
        <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form asp-action="SetProjectLead">
            <div class="form-group text-start">
                <label class="control-label">Pick User</label>
                <input name="email" class="form-control" list="datalistOptions" placeholder="Type to search...">
                <input name="projectId" value="@Model.Project.ProjectId" hidden>
                <datalist id="datalistOptions">
                    @foreach (var person in Model.personProjects)
                    {
                        if (person.Role != ProjectRole.Manager)
                        {
                            <option value="@person.Person.Email"/>
                        }
                    }
                </datalist>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <div class="form-group">
                    <input type="submit" value="Set project lead" class="btn btn-primary" />
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>