<!-- Modal -->
<div class="modal fade" id="assignee" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="assignee">Assign to issue</h5>
        <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form asp-action="AssignPerson">
            <div class="form-group text-start">
                <label class="control-label">Pick User</label>
                <input name="email" class="form-control" list="datalistOptions" placeholder="Type to search..." autocomplete="off">
                <input name="id" value="@Model.issue.Id" hidden>
                <datalist id="datalistOptions">
                    @foreach (var person in Model.personProjects)
                    {
                        if (person.Role != ProjectRole.Manager)
                        {
                            <option value="@person.Person.Email"/>
                        }
                    }
                </datalist>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a class="btn btn-primary" asp-action="AssignPerson" asp-route-email="@Model.currentUser.Email" asp-route-id="@Model.issue.Id">Assign self</a>
                <div class="form-group">
                    <input type="submit" value="Assign" class="btn btn-primary"/>
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>