@model IssueTracker.Models.Issue
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor httpContextAccessor;

@{
    ViewData["Title"] = "Edit";
}

<h1 style="color: #1c9954!important">Edit</h1>

<h4>@Html.DisplayFor(model => model.Summary)</h4>
<hr />

<div class="row">
    <div class="col-md-6 m-auto">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProjectId" />
            <div class="form-group m-1">
                <label asp-for="Summary" class="control-label">Name</label>
                <input asp-for="Summary" class="form-control" />
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
            <div class="form-group m-1">
                <label asp-for="State" class="control-label"></label>
                @Html.DropDownListFor(model => model.State, new SelectList(ViewBag.MyStatesEnum, "Value", "Text"), new { @class = "form-control" })          
            </div>
            <div class="form-group m-1">
                <label asp-for="Priority" class="control-label"></label>
                @Html.DropDownListFor(model => model.Priority, new SelectList(ViewBag.MyPrioritiesEnum, "Value", "Text"), new { @class = "form-control" })  
            </div>
            <div class="form-group m-1">
                <label asp-for="TargetResolutionDate" class="control-label">Target resolution date</label>
                <input asp-for="TargetResolutionDate" class="form-control" />
                <span asp-validation-for="TargetResolutionDate" class="text-danger"></span>
            </div>     
            <div class="form-group m-1">
                <label asp-for="ActualResolutionDate" class="control-label">Actual resolution date</label>
                <input asp-for="ActualResolutionDate" class="form-control" />
                <span asp-validation-for="ActualResolutionDate" class="text-danger"></span>
            </div>  
            <div class="form-group m-1">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" style="height: 20vh" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group m-1">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="text-decoration-none" asp-action="Details" asp-route-id="@Model.Id"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back to Details</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
